{% extends 'service/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="col-12 mb-4">
    {% if perms.service.add_client%}
    <a class="btn btn-outline-primary" href="{% url 'service:create_client'%}">Добавить клиента</a>
    {% endif %}
</div>
{% endif %}

<div class="col-lg-8 col-md-6 col-sm-12">
    <ol class="list-group list-group-numbered">

        {% for object in object_list %}
        <li class="list-group-item">
            {{ object }}
            <a class="p-2 btn btn-outline-primary float-right" href="{% url 'service:client' object.pk %}">View</a>
            {% if perms.service.change_client%}
            <a class="p-2 btn btn-outline-primary float-right" href="{% url 'service:update_client' object.pk %}">Edit</a>
            {% endif %}
            {% if perms.service.delete_client%}
            <a class="p-2 btn btn-outline-primary float-right"
               href="{% url 'service:delete_client' object.pk %}">Delete</a>
            {% endif %}
        </li>
        {% endfor %}

    </ol>
</div>


{% endblock %}
